Source/Business Component/Link.BA.Donate.Business/Service References/HimediaService/clicksmsV4.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://hm.comprafacil.pt/SIBSClick/webservice/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://hm.comprafacil.pt/SIBSClick/webservice/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://hm.comprafacil.pt/SIBSClick/webservice/">
      <s:element name="getInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IDCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dataInicialStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dataFinalStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tipo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getInfoResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="referencias" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IDs" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="error" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getInfoCompra">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="referencia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IDCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getInfoCompraResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getInfoCompraResult" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="pago" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="estado" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dataUltimoPagamento" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="TotalPagamentos" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="error" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveCompraToBD1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="origem" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IDProduto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IDCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="quantidade" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="informacao" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IDUserBackoffice" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveCompraToBD1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SaveCompraToBD1Result" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="referencia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="entidade" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="valor" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="error" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveCompraToBD2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="origem" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IDProduto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IDCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="quantidade" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="informacao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nome" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="morada" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codPostal" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="localidade" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NIF" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RefExterna" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telefoneContacto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IDUserBackoffice" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveCompraToBD2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SaveCompraToBD2Result" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="referencia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="entidade" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="valor" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="error" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveCompraToBDValor1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="origem" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IDCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="valor" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="informacao" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IDUserBackoffice" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveCompraToBDValor1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SaveCompraToBDValor1Result" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="referencia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="entidade" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="valorOut" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="error" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveCompraToBDValor2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="origem" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IDCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="valor" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="informacao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nome" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="morada" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codPostal" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="localidade" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NIF" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RefExterna" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telefoneContacto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IDUserBackoffice" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveCompraToBDValor2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SaveCompraToBDValor2Result" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="referencia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="entidade" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="valorOut" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="error" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getInfoSoapIn">
    <wsdl:part name="parameters" element="tns:getInfo" />
  </wsdl:message>
  <wsdl:message name="getInfoSoapOut">
    <wsdl:part name="parameters" element="tns:getInfoResponse" />
  </wsdl:message>
  <wsdl:message name="getInfoCompraSoapIn">
    <wsdl:part name="parameters" element="tns:getInfoCompra" />
  </wsdl:message>
  <wsdl:message name="getInfoCompraSoapOut">
    <wsdl:part name="parameters" element="tns:getInfoCompraResponse" />
  </wsdl:message>
  <wsdl:message name="SaveCompraToBD1SoapIn">
    <wsdl:part name="parameters" element="tns:SaveCompraToBD1" />
  </wsdl:message>
  <wsdl:message name="SaveCompraToBD1SoapOut">
    <wsdl:part name="parameters" element="tns:SaveCompraToBD1Response" />
  </wsdl:message>
  <wsdl:message name="SaveCompraToBD2SoapIn">
    <wsdl:part name="parameters" element="tns:SaveCompraToBD2" />
  </wsdl:message>
  <wsdl:message name="SaveCompraToBD2SoapOut">
    <wsdl:part name="parameters" element="tns:SaveCompraToBD2Response" />
  </wsdl:message>
  <wsdl:message name="SaveCompraToBDValor1SoapIn">
    <wsdl:part name="parameters" element="tns:SaveCompraToBDValor1" />
  </wsdl:message>
  <wsdl:message name="SaveCompraToBDValor1SoapOut">
    <wsdl:part name="parameters" element="tns:SaveCompraToBDValor1Response" />
  </wsdl:message>
  <wsdl:message name="SaveCompraToBDValor2SoapIn">
    <wsdl:part name="parameters" element="tns:SaveCompraToBDValor2" />
  </wsdl:message>
  <wsdl:message name="SaveCompraToBDValor2SoapOut">
    <wsdl:part name="parameters" element="tns:SaveCompraToBDValor2Response" />
  </wsdl:message>
  <wsdl:portType name="clicksmsV4Soap">
    <wsdl:operation name="getInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtém informação sobre as encomendas inseridas. Devolve listas de referências e IDs. Parametro Tipo=P devolve listas relativas a encomendas pagas entre as datas; Tipo=R devolve listas relativas a encomendas recebidas (não obrigatoriamente pagas ainda) entre as datas. (Nota: as datas são no formato dd-MM-aaaa hh:mm:ss Ex: 24-02-2007 14:35:22)</wsdl:documentation>
      <wsdl:input message="tns:getInfoSoapIn" />
      <wsdl:output message="tns:getInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getInfoCompra">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtém informação sobre o estado de uma encomenda. Devolve o estado da encomenda, estado de pagamento, data de pagamento e total de pagamentos.</wsdl:documentation>
      <wsdl:input message="tns:getInfoCompraSoapIn" />
      <wsdl:output message="tns:getInfoCompraSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveCompraToBD1">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Guarda uma compra, especificando a quantidade e SEM informação de cliente</wsdl:documentation>
      <wsdl:input message="tns:SaveCompraToBD1SoapIn" />
      <wsdl:output message="tns:SaveCompraToBD1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveCompraToBD2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Guarda uma compra, especificando a quantidade e COM informação de cliente (comprador)</wsdl:documentation>
      <wsdl:input message="tns:SaveCompraToBD2SoapIn" />
      <wsdl:output message="tns:SaveCompraToBD2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveCompraToBDValor1">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Guarda uma compra, especificando o valor previamente e SEM informação de cliente (comprador)</wsdl:documentation>
      <wsdl:input message="tns:SaveCompraToBDValor1SoapIn" />
      <wsdl:output message="tns:SaveCompraToBDValor1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveCompraToBDValor2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Guarda uma compra, especificando o valor previamente e COM informação de cliente (comprador)</wsdl:documentation>
      <wsdl:input message="tns:SaveCompraToBDValor2SoapIn" />
      <wsdl:output message="tns:SaveCompraToBDValor2SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="clicksmsV4HttpGet" />
  <wsdl:portType name="clicksmsV4HttpPost" />
  <wsdl:binding name="clicksmsV4Soap" type="tns:clicksmsV4Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getInfo">
      <soap:operation soapAction="http://hm.comprafacil.pt/SIBSClick/webservice/getInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInfoCompra">
      <soap:operation soapAction="http://hm.comprafacil.pt/SIBSClick/webservice/getInfoCompra" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCompraToBD1">
      <soap:operation soapAction="http://hm.comprafacil.pt/SIBSClick/webservice/SaveCompraToBD1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCompraToBD2">
      <soap:operation soapAction="http://hm.comprafacil.pt/SIBSClick/webservice/SaveCompraToBD2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCompraToBDValor1">
      <soap:operation soapAction="http://hm.comprafacil.pt/SIBSClick/webservice/SaveCompraToBDValor1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCompraToBDValor2">
      <soap:operation soapAction="http://hm.comprafacil.pt/SIBSClick/webservice/SaveCompraToBDValor2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="clicksmsV4Soap12" type="tns:clicksmsV4Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getInfo">
      <soap12:operation soapAction="http://hm.comprafacil.pt/SIBSClick/webservice/getInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInfoCompra">
      <soap12:operation soapAction="http://hm.comprafacil.pt/SIBSClick/webservice/getInfoCompra" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCompraToBD1">
      <soap12:operation soapAction="http://hm.comprafacil.pt/SIBSClick/webservice/SaveCompraToBD1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCompraToBD2">
      <soap12:operation soapAction="http://hm.comprafacil.pt/SIBSClick/webservice/SaveCompraToBD2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCompraToBDValor1">
      <soap12:operation soapAction="http://hm.comprafacil.pt/SIBSClick/webservice/SaveCompraToBDValor1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCompraToBDValor2">
      <soap12:operation soapAction="http://hm.comprafacil.pt/SIBSClick/webservice/SaveCompraToBDValor2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="clicksmsV4HttpGet" type="tns:clicksmsV4HttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="clicksmsV4HttpPost" type="tns:clicksmsV4HttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="clicksmsV4">
    <wsdl:port name="clicksmsV4Soap" binding="tns:clicksmsV4Soap">
      <soap:address location="https://hm.comprafacil.pt/SIBSClick2teste/webservice/clicksmsV4.asmx" />
    </wsdl:port>
    <wsdl:port name="clicksmsV4Soap12" binding="tns:clicksmsV4Soap12">
      <soap12:address location="https://hm.comprafacil.pt/SIBSClick2teste/webservice/clicksmsV4.asmx" />
    </wsdl:port>
    <wsdl:port name="clicksmsV4HttpGet" binding="tns:clicksmsV4HttpGet">
      <http:address location="https://hm.comprafacil.pt/SIBSClick2teste/webservice/clicksmsV4.asmx" />
    </wsdl:port>
    <wsdl:port name="clicksmsV4HttpPost" binding="tns:clicksmsV4HttpPost">
      <http:address location="https://hm.comprafacil.pt/SIBSClick2teste/webservice/clicksmsV4.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>